---
import { getCollection } from "astro:content";
import BlogCard from "../blog/BlogCard.astro";

const blogs = await getCollection("blog");
---

<section class="bg-[#00263A] text-white py-16">
  <div class="max-w-6xl mx-auto px-4">
    <div class="text-center mb-12">
      <h2 class="text-sm text-orange-400 font-bold uppercase mb-2">
        Resources
      </h2>
      <p class="text-base md:text-lg">
        See our latest blogs. Stay tuned with the latest trends through our
        insightful resources.
      </p>
      <a
        href="#"
        class="mt-4 inline-block text-sm font-semibold text-white bg-orange-500 hover:bg-orange-600 px-5 py-2 rounded transition"
      >
        Learn More &#8594;
      </a>
    </div>

    <!-- Carousel Container -->
    <h3 class="mt-8">Prefetch html for hovered blog</h3>
    <div class="relative">
      <!-- Carousel Inner -->
      <div class="carousel-wrapper overflow-hidden">
        <div
          class="carousel-track flex transition-transform duration-500 ease-in-out gap-6"
        >
          {
            blogs.map((blog) => (
              <div class="carousel-item w-full sm:w-1/3 flex-shrink-0">
                <BlogCard
                  resourceURL={`/blog/${blog.id}`}
                  resourceImage={blog.data.image}
                  resourceType={blog.data.resourceType}
                  resourceTitle={blog.data.title}
                />
              </div>
            ))
          }
        </div>
      </div>
      <!-- Carousel Navigation -->
      <button
        class="absolute top-1/2 left-0 transform -translate-y-1/2 p-2 bg-orange-500 text-white rounded-full shadow-lg hover:bg-orange-600 transition duration-300 ease-in-out focus:outline-none"
        id="prev"
      >
        <span class="text-2xl">&#8592;</span>
        <!-- Left Arrow -->
      </button>
      <button
        class="absolute top-1/2 right-0 transform -translate-y-1/2 p-2 bg-orange-500 text-white rounded-full shadow-lg hover:bg-orange-600 transition duration-300 ease-in-out focus:outline-none"
        id="next"
      >
        <span class="text-2xl">&#8594;</span>
        <!-- Right Arrow -->
      </button>
    </div>
    <h3 class="mt-8">Card that doesn't have prefetch</h3>
    <a href={`/blog/${blogs[0].id}`}>
      <div class="bg-white text-black rounded shadow-sm overflow-hidden">
        <img
          src={blogs[0].data.image.url}
          alt={blogs[0].data.image.alt}
          class="w-full h-40 object-cover"
        />
        <div class="p-4">
          <p class="text-xs font-semibold text-orange-500 uppercase">
            {blogs[0].data.resourceType}
          </p>
          <h3 class="font-bold text-md mt-2">{blogs[0].data.title}</h3>
        </div>
      </div>
    </a>
  </div>
</section>

<!-- Prefetch blog script -->

<script>
  import "../../scripts/prefetchChecker.ts";
</script>

<!-- Carousel Script -->
<script>
  import "../../scripts/carousell.ts";
</script>
